{% extends "layout.html" %}

{% block body %}
    <h1>Mempool Recommended Fees</h1>
    <h2><label id="time"></label></h2>
    <div id="chart_fees"></div>
    <h3>
        <table id="fees">
        </table>
    </h3>
    <script>
        $(document).ready(function(){

            var myVar = setInterval(myTimer, 1000);

            var myVar2 = setInterval(function (){
                $.get('/getFees', function(data){
                    //console.log(data);
                    //console.log(data.length);

                    document.querySelector('table').innerHTML = "";

                    var tableData = "";
                    tableData += "<tr>";
                    tableData += "<th>Fastest Fee</th>";
                    tableData += "<th>Half Hour Fee</th>";
                    tableData += "<th>Hour Fee</th>";
                    tableData += "<th>Minimum Fee</th>";
                    tableData += "<th>Date</th>";
                    tableData += "</tr>";

                    var obj = $.parseJSON(data);
                    //console.log(obj);
                    //console.log(obj.length);
                    if (obj.length > 0){
                        
                        for (i = 0; i < obj.length; i++) {
                            var fees = obj[i];
                            //console.log(fees);
                            //console.log(fees["fastestFee"]);
                            tableData += "<tr>";
                            $.each(fees, function(key,value) {
                                tableData += "<td>" + value + "</td>";
                            })
                            tableData += "</tr>";
                        }
                    }
                    document.querySelector('table').innerHTML = document.querySelector('table').innerHTML + tableData;

                    drawBasic();

                })
            }, 15000);
 
        });
        function myTimer() {
            var d = new Date();
            document.getElementById("time").innerHTML = d.toLocaleTimeString();
        }
    
    </script>     
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        //google.charts.setOnLoadCallback(drawBasic);
        
        function drawBasic() {
            console.log("Pintamos gráfica");

            

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'Fastest');
            data.addColumn('number', 'Half Hour');
            data.addColumn('number', 'Hour');
            data.addColumn('number', 'Minimum');
        
            var table = document.getElementById("fees");
            //Hay que leer la tabla desde el final, ya que es la línea más antigua
            var iCount = 0;
            //console.log(table.rows.length);
            for (var i = table.rows.length - 1, row; row = table.rows[i]; i--) {
                //console.log(i);
                if (i > 0){
                    //iterate through rows
                    //rows would be accessed using the "row" variable assigned in the for loop
                    //for (var j = 0, col; col = row.cells[j]; j++) {
                    //iterate through columns
                    //columns would be accessed using the "col" variable assigned in the for loop
                    //}  
                    //console.log(i);
                    //console.log(row.cells[0].innerText);

                    data.addRows([[iCount,  parseInt(row.cells[0].innerText),  parseInt(row.cells[1].innerText),  parseInt(row.cells[2].innerText),  parseInt(row.cells[3].innerText)]]);
                    iCount++;

                }

            }
      
            var options = {
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'Sats/vByte'
                },
                title: 'Recommended Fees', 
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.charts.Line(document.getElementById('chart_fees'));
            //var chart = new google.visualization.LineChart(document.getElementById('chart_fees'));

            //chart.draw(data, options);
            chart.draw(data, google.charts.Line.convertOptions(options));
            }
      </script>       
{% endblock %}